%br
%h3 ACTIVE ASSIGNMENTS
%br
- @assignments.each do |assignment|
	%a{href: "/assignments/#{assignment.id}/edit"} #{assignment.title}, #{assignment.due_date}
	%br
%br
= button_to "CREATE NEW ASSIGNMENT", new_assignment_path, method: :get