%br
%h3 ACTIVE LOCATIONS
%br
- @locations.each do |location|
	%a{href: "/locations/#{location.id}"} #{location.city}, #{location.state}
	%br
%br


= button_to "ADD LOCATION", new_location_path, method: :get
